---
layout: layout-events.liquid
title: "Events"
---

<h2 class="bg-shiny">{{title}}</h2>
<ul>
  {%- for event in collections.event %}
    {% comment %} {{event | debug}} {% endcomment %}
    <li>
      <a href="{{event.page.url}}">
        {%- if event.data.title %}
          {{event.data.title}}
        {%- else %}
          {{event.page.fileSlug}}
        {%- endif %}
    </li>
  {%- endfor %}
</ul>
