extends /layout.pug

block append variables
  -
    page = 'home';
    title = 'Home';

block content
  #content.container.space
    #infobar.container.space
      .wrapper
        .box.type5
          .container.maininfo
            h2.box.type5c.first Sep 27 – Oct 1, 2022
            h3.box.type5c.first Warner Robins, GA
            p.box.type2.first
              a#appbutton(href="/files/2021 results report corrected 11-12-21.pdf") #[span 2021] Results
              //- a#appbutton(href="/files/2021 Registration.pdf") #[span 2021] Registration
            .box.type3c
              ul
                li: a(href="/files/2022flyer 1.pdf") 2022 Flyer
                li: a(href="/files/Rule Book -2021.pdf") 2021 Event List and Rules
                li: a(href="/files/schedule 2021 5-3-21.pdf") 2021 Event Schedule
          .container.lowerinfo
            .box.type5c.first
              p The 2022 Georgia Golden Olympics is scheduled for September 27 – October 1, 2022 in Warner Robins, GA and surrounding areas. Swimming will be hosted by the Jonesboro Parks and Recreation Department and will be held at the Steve Lundquist Aquatics Center in Jonesboro, GA.
              p The 2022 state games are qualifying games for the 2023 #[a(href="https://www.nsga.com/" target="_blank") National Senior Games], scheduled for July 7 – 18, 2023, in the City of Champions, Pittsburgh PA.
              //- p #[strong Registration is open!]
              //- p If you have competed in the Georgia event in prior years, you may #[a(href="https://ggoregistration.org/forms/ggoregistrationform1/ggoregistrationform1.php") register online]. If not, please print the form from the website and mail with age verification to the address listed in the form.
              p Thank you for joining us for fun, fellowship, and competition!
        .box.type7
          .container
            #picfade.box.type7.first
              img.pic-active(src="/images/stack1.jpg" alt="" title="")
              img(src="/images/stack2.jpg" alt="" title="")
              img(src="/images/stack3.jpg" alt="" title="")
              img(src="/images/stack4.jpg" alt="" title="")
              img(src="/images/stack5.jpg" alt="" title="")
            .social
              .box.type7c.first
                p
                  a(href="https://www.nsga.com/")
                    img.inline(
                      src="/images/NSGA-Proud-Member-Logo.png"
                      height="102"
                      alt="NSGA Proud Partner" title="NSGA Proud Partner")
                  a(href="https://www.nsga.com/")
                    img.inline(
                      src="/images/NSG-Logo-2023@1x.png"
                      srcset="/images/NSG-Logo-2023@2x.png 2x"
                      alt="2023 NSG Logo"
                      title="2023 National Senior Games")
                p.detail Follow Georgia Golden Olympics on #[a(href="https://twitter.com/gagoldolympics" target="_new") #[img(src="/images/icon-twitter.png" alt="Twitter" title="Twitter")]] and #[a(href="https://www.facebook.com/pages/Georgia-Golden-Olympics/200148176686061" target="_new") #[img(src="/images/icon-facebook.png" alt="Facebook" title="Facebook")]]

    #types.container.gap.bg444
      .wrapper
        .box.type4.participate
          h4.box.type4c.first
            a(href="/participate/") Participate
          .box.type4c.first
            p Are you ready to compete? We have events for every fitness level.
            ul
              li: a(href="/files/2022flyer 1.pdf") 2022 Flyer
              li: a(href="/files/2021 results report corrected 11-12-21.pdf") 2021 Results
              //- li: a(href="/files/2021 Registration.pdf") 2021 Registration Form
              //- li: a(href="https://ggoregistration.org/forms/ggoregistrationform1/ggoregistrationform1.php") 2021 Online Registration
              li: a(href="/files/Rule Book -2021.pdf") 2021 Event List and Rules
              li: a(href="/files/schedule 2021 5-3-21.pdf") 2021 Event Schedule
              //- li: a(href="/files/Team Roster Word.pdf") Team Roster
              li Cycling Routes: #[a(href="/files/5K and 10K Cycling Route10.pdf") 5K & 10K], #[a(href="/files/20K Cycling Route-10.pdf") 20K], #[a(href="/files/40K Cycling10.pdf") 40K]

        .box.type4.volunteer
          h4.box.type4c.first
            a(href="/volunteer/") Volunteer
          .box.type4c.first
            p Want to help out? Here's all the information you'll need.
            ul
              li: a(href="/files/volunteer form final 7-3-21.pdf") Volunteer Signup Form
              li: a(href="/files/Rule Book -2021.pdf") 2021 Event List and Rules

        .box.type4.sponsor
          h4.box.type4c.first
            a(href="/sponsor/") Sponsor
          .box.type4c.first
            p These events could not happen without the help of our generous sponsors.
            ul
              li: a(href="https://www.ggoregistration.org/forms/ggodonation/ggodonation.php") Make a donation online!
              li: a(href="/files/ggofundbro.pdf") Sponsorship Brochure
              li: a(href="/sponsor/") Become a Sponsor!

    .container
      .wrapper
        .box.type12c
          .container.gap
            include /reader

    #sponsors
      .wrapper
        .container.pagetitle.space
          h2.box.type12c 2022 Sponsors
        .container.gap
          .box.type12c
            h5 Want to be a sponsor? #[a(href="https://www.ggoregistration.org/forms/ggodonation/ggodonation.php") Make a donation online!]

        .container.bg12.space

          .box.type12.corporate
            h4.box.type12c.first Corporate Sponsors
            .box.type12c.first
              p.detail $10,000 or more
              ul

        .container.bg66.space

          .box.type6.platinum
            h4.box.type6c.first Platinum Sponsors
            .box.type6c.first
              p.detail $5000 – $9999
              ul
                +sponsor(" Warner Robins Parks & Recreation Department", "Host Agency", "images/sponsors/WRPR-High-Res-2x.png")

          .box.type6.gold
            h4.box.type6c.first Gold Sponsors
            .box.type6c.first
              p.detail $2500 – $4999
              ul
                +sponsor("The Miles Group", "Snellville")
                +sponsor("First Christian Church", "Winder")
                +sponsor("Houston Healthcare", "", "images/sponsors/HHC-new-logo-2016_resized.png", "https://www.hhc.org/")
                +sponsor("Aetna", "", "images/sponsors/Aetna_Logo_ss_Violet_RGB_Coated_resized.png")

        .container.bg66.space

          .box.type6.silver
            h4.box.type6c.first Silver Sponsors
            .box.type6c.first
              p.detail $1000 – $2499
              ul
                +sponsor("Cox Communications", "", "images/sponsors/Cox_Communications_(logo).svg_resized.png")
                +sponsor("Georgia Health Care Association")
                +sponsor("Humana, Inc.", "", "images/sponsors/hum_reg_lrg_4cp_pos_wht-resized.png")
                +sponsor("Ryan and Marty Beighley", "The Villages, FL")

          .box.type6.bronze
            h4.box.type6c.first Bronze Sponsors
            .box.type6c.first
              p.detail $500 – $999
              ul
                +sponsor("Comfort Inn and Suites Hwy 247", "Warner Robins")
                +sponsor("Tom Gill", "Madison, AL")
                +sponsor("Grovania United Methodist Church")
                +sponsor("Publix Super Markets Charities")
                +sponsor("Joyce White", "Oxford")
                +sponsor("John Brooks", "Omaha, NE")
                +sponsor("Harry Lowe", "Waleska")
                +sponsor("Ookla", "Seattle, WA", "images/sponsors/ookla-logo.png", "https://www.ookla.com/")

        .container.bg66.space

          .box.type6.torch
            h4.box.type6c.first Torch Club
            .box.type6c.first
              p.detail $100 – $499
              ul
                +sponsor("Jewel Crews", "Waycross")
                +sponsor("Linda Lowery", "Smyrna")
                +sponsor("Gladys Mixon", "Rome")
                +sponsor("James & Miriam Novak", "Bainbridge")
                +sponsor("Allison & Wes Sawyers", "Warner Robins")
                +sponsor("Shawn Smith", "Dacula")
                +sponsor("James & Jocille Thwing", "Warner Robins")
                +sponsor("Robert & Faye Buckham", "Woodstock")
                +sponsor("Lois Maat Roberts", "Statesboro")
                +sponsor("George & Charlotte Zubowicz", "Warm Springs")
                +sponsor("Lester Culver", "Ludowici")
                +sponsor("George W. Marlow, III", "Lawrenceville")
                +sponsor("Carol Waddell", "Rome")
                +sponsor("Randall Neff", "Byron")
                +sponsor("Ruth Bruhns", "Roswell")
                +sponsor("Jerry Peterson", "Atlanta")
                +sponsor("Rick Abbott", "Jackson")
                +sponsor("Sandra Jean Foster", "East Point")
                +sponsor("Don Tate", "Bonaire")
                +sponsor("Mike Morrissey", "Birmingham. AL")

          .box.type6.friend
            h4.box.type6c.first Friends
            .box.type6c.first
              p.detail $25 – $99
              ul
                +sponsor("Jan & Nicolas Alexuk", "Hinesville")
                +sponsor("John Bunnell", "Dahlonega")
                +sponsor("Robert Jackson", "Lawrenceville")
                +sponsor("Martin Marshall", "Lady Lake, FL")
                +sponsor("Mr. & Mrs. Terry Moyer", "Warner Robins")
                +sponsor("Brian Stockmaster", "Charleston, SC")
                +sponsor("Gordon Darrah", "Columbus")
                +sponsor("Charles Baldwyn", "Satillo")
                +sponsor("June Biama", "Dunwoody")
                +sponsor("Jerry Brinegar", "Athens")
                +sponsor("Ed & Karen Brown", "Colbert")
                +sponsor("Michael Scott Harper", "Marietta")
                +sponsor("John B Stanley", "McIntyre")
                +sponsor("David Jones", "Stone Mountain")
                +sponsor("Andrew Mason", "Evans")
                +sponsor("Roscoe Googe", "Marietta")
                +sponsor("Neil Coleman", "Evans")
                +sponsor("Richard Cook", "Macon")
                +sponsor("Ahmad Shabazz", "Starr, SC")
                +sponsor("Ellen Briggs", "Demorest")
                +sponsor("Charles Corbett", "Loganville")
                +sponsor("William & Tamara Costanza", "Alpharetta")
                +sponsor("Bill Dudley", "Greensboro")
                +sponsor("Mary Ealer", "Warner Robins")
                +sponsor("Thomas Forcella", "Savannah")
                +sponsor("Allan & Judy Johnson", "Lawrenceville")
                +sponsor("Andrew Lucarelli", "Daufuskie Island, SC")
                +sponsor("Thomas McCann", "Peachtree City")
                +sponsor("Vincent Marchionna", "St Simons")
                +sponsor("Toni Pomerene", "Athens")
                +sponsor("Alex Raducanu", "Daufuskie Island, SC")
                +sponsor("William D Smith", "Fitzgerald")
                +sponsor("Calvin Ward", "Danielsville")
                +sponsor("B & W Recreation Center", "Warner Robins")
                +sponsor("Dick's Sporting Goods", "Athens")

mixin sponsor (name, location, src, link)
  li
    if link
      a(href!=link, target="_new")
        +sponsor-internal(name, location, src)
    else
      +sponsor-internal(name, location, src)

mixin sponsor-internal (name, location, src)
  if src
    img(src!=src, alt!=name, title!=name)
  =name
  if location
    span.comma ,
    |
    |
    span=location
