extends /layout.pug

block append variables
  -
    page = 'home';
    title = 'Home';

block content
  #content.container.space
    #infobar.container.space
      .wrapper
        .box.type5
          .container.maininfo
            h2.box.type5c.first Sept 19–23, 2023
            h3.box.type5c.first Warner Robins, GA
            p.box.type2.first
              a#appbutton(href="/files/GGO2022REULTS11-7-22.pdf") #[span 2022] Results
              //- a#appbutton(href="/files/2022 Registration.pdf") #[span 2022] Registration
            .box.type3c
              ul
                li: a(href="/files/Flyer1-2023.pdf") 2023 Flyer
                li: a(href="/files/Rule Book 2022.pdf") 2022 Event List & Rules
                li: a(href="/files/2021 results report corrected 11-12-21.pdf") 2021 Results
          .container.lowerinfo
            .box.type5c.first
              p The 2023 Georgia Golden Olympics is scheduled for September 19–23, 2023 in Warner Robins, GA and surrounding areas. Swimming will be hosted by the Jonesboro Parks and Recreation Department at the Steve Lundquist Aquatics Center in Jonesboro, GA. Registration will be open on May 1, 2023.
              p Please join us for the competition, fun and fellowship. We look forward to seeing you in September!
              p The 2023 #[a(href="https://www.nsga.com/" target="_blank") National Senior Games] is scheduled for July 7–18, 2023, in the City of Champions, Pittsburgh PA. Registration is open for these games.
              //- p The 2022 Georgia Golden Olympics took place September 27 – October 1, 2022 in Warner Robins, GA and surrounding areas. Swimming was hosted by the Jonesboro Parks and Recreation Department and was held at the Steve Lundquist Aquatics Center in Jonesboro, GA.
              //- p The 2022 state games are qualifying games for the 2023 #[a(href="https://www.nsga.com/" target="_blank") National Senior Games], scheduled for July 7–18, 2023, in the City of Champions, Pittsburgh PA.
              //- p #[strong Registration is open!]
              //- p If you have competed in the Georgia event in prior years, you may #[a(href="https://ggoregistration.org/forms/ggoregistrationform1/ggoregistrationform1.php") register online]. If not, please print the form from the website and mail with age verification to the address listed in the form.
              //- p Thank you for joining us for fun, fellowship, and competition!
        .box.type7
          .container
            #picfade.box.type7.first
              img.pic-active(src="/images/stack1.jpg" alt="" title="")
              img(src="/images/stack2.jpg" alt="" title="")
              img(src="/images/stack3.jpg" alt="" title="")
              img(src="/images/stack4.jpg" alt="" title="")
              img(src="/images/stack5.jpg" alt="" title="")
            .social
              .box.type7c.first
                p
                  a(href="https://www.nsga.com/" target="_blank")
                    img.inline(
                      src="/images/NSGA-Proud-Member-Logo.png"
                      height="102"
                      alt="NSGA Proud Partner" title="NSGA Proud Partner")
                  a(href="https://www.nsga.com/" target="_blank")
                    img.inline(
                      src="/images/NSG-Logo-2023@1x.png"
                      srcset="/images/NSG-Logo-2023@2x.png 2x"
                      alt="2023 NSG Logo"
                      title="2023 National Senior Games")
                p.detail Follow Georgia Golden Olympics#[br]#[a(href="https://twitter.com/gagoldolympics" target="_new") #[img(src="/images/icon-twitter.png" alt="Twitter" title="Twitter")]] #[a(href="https://www.facebook.com/pages/Georgia-Golden-Olympics/200148176686061" target="_new") #[img(src="/images/icon-facebook.png" alt="Facebook" title="Facebook")]]

    #types.container.gap.bg444
      .wrapper
        .box.type4.participate
          h4.box.type4c.first
            a(href="/participate/") Participate
          .box.type4c.first
            p Are you ready to compete? We have events for every fitness level.
            ul
              li: a(href="/files/GGO2022REULTS11-7-22.pdf") 2022 Results
              li: a(href="/files/Flyer1-2023.pdf") 2023 Flyer
              li: a(href="/files/Rule Book 2022.pdf") 2023 Event List & Rules
              //- li: a(href="/files/2022 Registration.pdf") 2022 Registration
              //- li: a(href="https://ggoregistration.org/forms/ggoregistrationform1/ggoregistrationform1.php") 2022 Online Registration
              //- li: a(href="/files/Team Roster Word.pdf") Team Roster
              li Cycling Routes: #[a(href="/files/5K and 10K Cycling Route10.pdf") 5K & 10K], #[a(href="/files/20K Cycling Route-10.pdf") 20K], #[a(href="/files/40K Cycling10.pdf") 40K]
              //- li: a(href="/files/2021 results report corrected 11-12-21.pdf") 2021 Results

        .box.type4.volunteer
          h4.box.type4c.first
            a(href="/volunteer/") Volunteer
          .box.type4c.first
            p Want to help out? Here's all the information you'll need.
            ul
              li: a(href="/files/Volunteer Packet 2022 Word-Final.pdf") Volunteer Signup Form
              li: a(href="/files/Rule Book 2022.pdf") 2023 Event List & Rules

        .box.type4.sponsor
          h4.box.type4c.first
            a(href="/sponsor/") Sponsor
          .box.type4c.first
            p These events could not happen without the help of our generous sponsors.
            ul
              li: a(href="https://www.ggoregistration.org/forms/ggodonation/ggodonation.php") Make a donation online!
              li: a(href="/files/ggofundbro.pdf") Sponsorship Brochure
              li: a(href="/sponsor/") Become a Sponsor!

    .container
      .wrapper
        .box.type12c
          .container.gap
            include /reader

    include /sponsors