extends /layout.pug

block append variables
  -
    page = 'home';
    title = 'Home';

block content
  #content.container.space
    #infobar.container.space
      .wrapper
        .box.type5
          .container.maininfo
            h2.box.type5c.first Sep 27 – Oct 1, 2022
            h3.box.type5c.first Warner Robins, GA
            p.box.type2.first
              //- a#appbutton(href="/files/2021 results report corrected 11-12-21.pdf") #[span 2021] Results
              a#appbutton(href="/files/2022 Registration.pdf") #[span 2022] Registration
            .box.type3c
              ul
                li: a(href="/files/Rule Book 2022.pdf") 2022 Event List and Rules
                li: a(href="/files/2022flyer 1.pdf") 2022 Flyer
                li: a(href="/files/2021 results report corrected 11-12-21.pdf") 2021 Results
          .container.lowerinfo
            .box.type5c.first
              p The 2022 Georgia Golden Olympics is scheduled for September 27 – October 1, 2022 in Warner Robins, GA and surrounding areas. Swimming will be hosted by the Jonesboro Parks and Recreation Department and will be held at the Steve Lundquist Aquatics Center in Jonesboro, GA.
              p The 2022 state games are qualifying games for the 2023 #[a(href="https://www.nsga.com/" target="_blank") National Senior Games], scheduled for July 7 – 18, 2023, in the City of Champions, Pittsburgh PA.
              p #[strong Registration is open!]
              p If you have competed in the Georgia event in prior years, you may #[a(href="https://ggoregistration.org/forms/ggoregistrationform1/ggoregistrationform1.php") register online]. If not, please print the form from the website and mail with age verification to the address listed in the form.
              p Thank you for joining us for fun, fellowship, and competition!
        .box.type7
          .container
            #picfade.box.type7.first
              img.pic-active(src="/images/stack1.jpg" alt="" title="")
              img(src="/images/stack2.jpg" alt="" title="")
              img(src="/images/stack3.jpg" alt="" title="")
              img(src="/images/stack4.jpg" alt="" title="")
              img(src="/images/stack5.jpg" alt="" title="")
            .social
              .box.type7c.first
                p
                  a(href="https://www.nsga.com/")
                    img.inline(
                      src="/images/NSGA-Proud-Member-Logo.png"
                      height="102"
                      alt="NSGA Proud Partner" title="NSGA Proud Partner")
                  a(href="https://www.nsga.com/")
                    img.inline(
                      src="/images/NSG-Logo-2023@1x.png"
                      srcset="/images/NSG-Logo-2023@2x.png 2x"
                      alt="2023 NSG Logo"
                      title="2023 National Senior Games")
                p.detail Follow Georgia Golden Olympics#[br]#[a(href="https://twitter.com/gagoldolympics" target="_new") #[img(src="/images/icon-twitter.png" alt="Twitter" title="Twitter")]] #[a(href="https://www.facebook.com/pages/Georgia-Golden-Olympics/200148176686061" target="_new") #[img(src="/images/icon-facebook.png" alt="Facebook" title="Facebook")]]

    #types.container.gap.bg444
      .wrapper
        .box.type4.participate
          h4.box.type4c.first
            a(href="/participate/") Participate
          .box.type4c.first
            p Are you ready to compete? We have events for every fitness level.
            ul
              li: a(href="/files/2022 Registration.pdf") 2022 Registration
              li: a(href="https://ggoregistration.org/forms/ggoregistrationform1/ggoregistrationform1.php") 2022 Online Registration
              li: a(href="/files/Rule Book 2022.pdf") 2022 Event List and Rules
              li: a(href="/files/2022flyer 1.pdf") 2022 Flyer
              //- li: a(href="/files/Team Roster Word.pdf") Team Roster
              li Cycling Routes: #[a(href="/files/5K and 10K Cycling Route10.pdf") 5K & 10K], #[a(href="/files/20K Cycling Route-10.pdf") 20K], #[a(href="/files/40K Cycling10.pdf") 40K]
              li: a(href="/files/2021 results report corrected 11-12-21.pdf") 2021 Results

        .box.type4.volunteer
          h4.box.type4c.first
            a(href="/volunteer/") Volunteer
          .box.type4c.first
            p Want to help out? Here's all the information you'll need.
            ul
              li: a(href="/files/Volunteer Packet 2022 Word-Final.pdf") Volunteer Signup Form
              li: a(href="/files/Rule Book 2022.pdf") 2022 Event List and Rules

        .box.type4.sponsor
          h4.box.type4c.first
            a(href="/sponsor/") Sponsor
          .box.type4c.first
            p These events could not happen without the help of our generous sponsors.
            ul
              li: a(href="https://www.ggoregistration.org/forms/ggodonation/ggodonation.php") Make a donation online!
              li: a(href="/files/ggofundbro.pdf") Sponsorship Brochure
              li: a(href="/sponsor/") Become a Sponsor!

    .container
      .wrapper
        .box.type12c
          .container.gap
            include /reader

    #sponsors
      .wrapper
        .container.pagetitle.space
          h2.box.type12c 2022 Sponsors
        .container.gap
          .box.type12c
            h5 Want to be a sponsor? #[a(href="https://www.ggoregistration.org/forms/ggodonation/ggodonation.php") Make a donation online!]

        .container.bg12.space

          .box.type12.corporate
            h4.box.type12c.first Corporate Sponsors
            .box.type12c.first
              p.detail $10,000 or more
              ul

        .container.bg66.space

          .box.type6.platinum
            h4.box.type6c.first Platinum Sponsors
            .box.type6c.first
              p.detail $5000 – $9999
              ul
                +sponsor("Warner Robins Parks & Recreation Department", "Host Agency", "images/sponsors/WRPR-High-Res-2x.png")

          .box.type6.gold
            h4.box.type6c.first Gold Sponsors
            .box.type6c.first
              p.detail $2500 – $4999
              ul
                +sponsor("The Miles Group", "Snellville")
                +sponsor("First Christian Church", "Winder")
                +sponsor("Houston Healthcare", "", "images/sponsors/HHC-new-logo-2016_resized.png", "https://www.hhc.org/")

        .container.bg66.space

          .box.type6.silver
            h4.box.type6c.first Silver Sponsors
            .box.type6c.first
              p.detail $1000 – $2499
              ul
                +sponsor("Georgia Health Care Association")

          .box.type6.bronze
            h4.box.type6c.first Bronze Sponsors
            .box.type6c.first
              p.detail $500 – $999
              ul
                +sponsor("Comfort Inn and Suites Hwy 247", "Warner Robins")
                +sponsor("Tom Gill", "Madison, AL")
                +sponsor("Grovania United Methodist Church")

        .container.bg66.space

          .box.type6.torch
            h4.box.type6c.first Torch Club
            .box.type6c.first
              p.detail $100 – $499
              ul
                +sponsor("Jewel Crews", "Waycross")
                +sponsor("Linda Lowery", "Smyrna")
                +sponsor("Allison & Wes Sawyers", "Warner Robins")
                +sponsor("Robert & Faye Buckham", "Woodstock")
                +sponsor("Lois Maat Roberts", "Statesboro")
                +sponsor("George & Charlotte Zubowicz", "Warm Springs")
                +sponsor("Carol Waddell", "Rome")
                +sponsor("Denise & David Linn", "Nashville, TN")
                +sponsor("Bonnie Romines", "Warner Robins")
                +sponsor("Peggy & Terry Moyer", "Warner Robins")
                +sponsor("Marshall Martin", "Lady Lake, FL")
                +sponsor("Marty Barrow-Beighley", "The Villages, FL")
                +sponsor("Ryan Beighley", "The Villages, FL")
                +sponsor("Jerry Brinegar", "Athens")
                +sponsor("Gladys Mixon", "Rome")
                +sponsor("George W Marlowe, III", "Lawrenceville")
                +sponsor("Don Tate", "Bonaire")
                +sponsor("Rebecca Hamilton", "Byron")
                +sponsor("Marty Barlow", "Beighley", "The Villages, FL")
                +sponsor("Ryan Beighley", "The Villages, FL")

          .box.type6.friend
            h4.box.type6c.first Friends
            .box.type6c.first
              p.detail $25 – $99
              ul
                +sponsor("Robert Jackson", "Lawrenceville")
                +sponsor("Gordon Darrah", "Columbus")
                +sponsor("Charles Baldwyn", "Satillo, MS")
                +sponsor("Cathy Broom", "Roswell")
                +sponsor("Vincent Marchionna", "St Simons")
                +sponsor("James Hodges", "Monroe")
                +sponsor("B & W Recreation Center", "Warner Robins")
                +sponsor("Ellen Briggs", "Demorest")
                +sponsor("William Astary", "Tybee Island")
                +sponsor("Weiland A Henry, III", "Seale, AL")
                +sponsor("Cathy A Broom", "Roswell")
                +sponsor("Richard Cook", "Macon")
                +sponsor("Allan Johnson", " Lawrenceville")
                +sponsor("Andrew Lucarelli", "Daufuskie Island, SC")
                +sponsor("Leon Ryan", "Birmingham, AL")
                +sponsor("Mary Ealer", "Warner Robins")
                +sponsor("Neil Coleman", "Evans")
                +sponsor("Alan Griswold", "Warner Robins")
                +sponsor("Michael Simpson", "Baton Rouge, LA")
                +sponsor("Laura Huggins", "Meansville")
                +sponsor("David Jones", "St. Mountain")
                +sponsor("Richard Blakely", "Snellville")
                +sponsor("B Craig Ray", "Johns Creek")
                +sponsor("Cook Holliday", "Monroe")
                +sponsor("Nancy Lewis", "Greensboro")
                +sponsor("Anne L Foster", "Riverdale")
                +sponsor("Ann Carter", "Aiken, SC")

mixin sponsor (name, location, src, link)
  li
    if link
      a(href!=link, target="_new")
        +sponsor-internal(name, location, src)
    else
      +sponsor-internal(name, location, src)

mixin sponsor-internal (name, location, src)
  if src
    img(src!=src, alt!=name, title!=name)
  =name
  if location
    span.comma ,
    |
    |
    span=location
