---
layout: layout.liquid
title: "Events"
---

<div class="fg section">
  <div class="fg-12">
    <div class="bg-shiny breadcrumbs"><a href="/events/">Events</a><span class="separator"> / </span><a href="{{ page.permalink }}">{{ title }}</a></div>
  </div>
  <div class="fg-12">
    <div class="fg wrap-reverse">
      <div class="fg-lg-4 sidebar-lg">
        {%- render "events-list.liquid", events: collections.events, currentPage: page.url %}
      </div>
      <div class="fg-lg-8">
        <h2>{{ title }}</h2>
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  <div class="fg-12">
    {%- unless title == "Events" %}
      <hr>
      <p class="breadcrumbs"><a href="/events/">Events</a><span class="separator"> > </span><a href="{{ page.permalink }}">{{ title }}</a></p>
    {%- endunless %}
  </div>
</div>
