block variables
  -
    var page;
    var title;

doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=iso-8859-1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Georgia Golden Olympics
      if page !== 'home'
        |  - #{title}
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css")
    -
      // new random number every build to bust cache
      // effective but not efficient
      var rand = Math.floor(Math.random() * Math.pow(10, 16));
    link(rel="stylesheet" type="text/css" href=`/css/ggo.css?v=${rand}`)

  body(class=`ggo-${page}`)
    .section(role="banner")
      .container
        .pure-g
          .pure-u-1.pure-u-md-1-4.pure-u-lg-1-3.u-c
            h1
              a(href="/"): img(src="/images/ggo.gif" alt="Georgia Golden Olympics" title="Home")
          .pure-u-1.pure-u-md-3-4.pure-u-lg-2-3
            ul.pure-u-1.nav(role="nav")
              li.pure-u-1.pure-u-md-1-4.nav-li.u-c
                a.nav-item.nav-.participate(href="/participate/") Participate
              li.pure-u-1.pure-u-md-1-4.nav-li.u-c
                a.nav-item.nav-.volunteer(href="/volunteer/") Volunteer
              li.pure-u-1.pure-u-md-1-4.nav-li.u-c
                a.nav-item.nav-.sponsor(href="/sponsor/") Sponsor
              li.pure-u-1.pure-u-md-1-4.nav-li.u-c
                a.nav-item.nav-.about(href="/about/") About GGO

    block content

    .section(role="contentinfo")
      .container
        .pure-g
          .pure-u-1.pure-u-md-1-2
            p &copy; #{copyright} #[a(href="https://georgiagoldenolympics.org/") Georgia Golden Olympics]
          .pure-u-1.pure-u-md-1-2
            p Contact GGO Coordinator #[a(href="mailto:vcpilgrim@gmail.com") Vicki Pilgrim] at 770-867-3603
