<div class="fg section sponsors">
  <div class="fg-12">
    <h2 class="bg-shiny">{{ configuration.year }} Sponsors</h2>
    <p>Want to be a sponsor? <a href="https://www.georgiagoldolympics.com/forms/donations/ggodonation.php">Make a donation online!</a></p>
  </div>
  {% for tier in configuration.sponsorshipTiers.tiers -%}
    {% if forloop.index < 3 -%}
      {% assign classes = "fg-12 fg-lg-6" -%}
    {% elsif forloop.index < 6 -%}
      {% assign classes = "fg-12 fg-lg-4" -%}
    {% else -%}
      {% assign classes = "fg-12 fg-lg-6 sponsors-wrap" -%}
    {% endif -%}
    <div class="{{ classes }} sponsor-list sponsors-{{ tier.slug }}">
      <h4 class="sponsor-bg bg-{{ tier.slug }} bg-shiny">{{ tier.title }}</h4>
      <h5>{{ tier.amount }}</h5>
      <ul>
        {% for sponsor in collections.sponsors -%}
          {% if sponsor.data.tier == tier.slug -%}
            <li>

              {% if sponsor.data.link and sponsor.data.image -%}
                <a href="{{ sponsor.data.link }}">
              {% endif -%}
              {% if sponsor.data.image -%}
                <img class="sponsor-img" src="{{ sponsor.data.image }}" alt="{{ sponsor.data.name }}">
              {% endif -%}
              {% if sponsor.data.link and sponsor.data.image -%}
                </a>
              {% endif -%}

              {% if sponsor.data.link -%}
                <a href="{{ sponsor.data.link }}">
              {%- endif -%}
              <span class="sponsor-name">{{ sponsor.data.name }}</span>
              {%- if sponsor.data.link -%}
                </a>
              {%- endif -%}

              {%- if sponsor.data.location -%}
                <span class="sponsor-separator"> - </span>
                <span class="sponsor-location">{{ sponsor.data.location }}</span>
              {% endif -%}

            </li>
          {% endif -%}
        {% endfor -%}
      </ul>
    </div>

  {% endfor -%}

</div>
