<li>
  {%- if link != blank %}
    <a href="{{link}}" target="_blank">
  {%- endif %}
  {%- if img != blank %}
    <img src="{{img}}" alt="{{name}}" title="{{name}}">
  {%- endif %}
    <span class="sponsor-name">{{name}}</span>
  {%- if loc != blank %}
    <span class="sponsor-separator">,</span>
    <span class="sponsor-location">{{loc}}</a>
  {%- endif %}
  {%- if link != blank %}
    </a>
  {%- endif %}
</li>
